<h1>Dodaj paketnik</h1>
<form action="/paketnik" method="post">
    <label>Naziv paketnika: <input type="text" name="naziv" required></label><br><br>
    <label>ID paketnika: <input type="text" name="_idPaketnik" required></label><br><br><br><br>

    <input type="hidden" name="lastnikId" value="{{req.session.userId}}">

    <div class="tp">
        <input type="submit" value="Dodaj">
    </div>
</form>