<div><h1 style="font-size: 35px;">Dodaj paketnik</h1>
<form action="/paketnik" method="post">
    <br>
    <p>Naziv paketnika: <input type="text" name="naziv" required></p>
    <br>
    <input type="hidden" name="lastnikId" value="{{req.session.userId}}">
    <input type="submit" value="DODAJ">
</form>
</div>