<div><h1>Moji paketniki</h1>
{{#each paketniki}}
    <h2>{{naziv}}</h2>
    <p class="datum">{{paketnik.createdAt}}</p>

    <!--<a href="http://localhost:3000/paketnik/{{!_id}}">Prika탑i ve훾</a>-->
    <a href="https://silent-eye-350012.oa.r.appspot.com/paketnik/{{_id}}">Prika탑i ve훾</a>


{{/each}}
</div>