<h1>Moji paketniki</h1>
{{#each paketniki}}
    <div class="paketnik">
        <a href="/paketnik/{{this._id}}" class="paketnik">
            <table>
                <tr>
                    <td style="width: 30%">
                        <img alt="slikaPaketnika" style="width: 150px;height: 150px;" src="/images/dbox.png">
                    </td>
                    <td>
                        <h2>{{this.naziv}}</h2>
                        {{#if this.poln}}
                            <p>Poln</p>
                        {{else}}
                            <p>Prazen</p>
                        {{/if}}

                        {{#each this.odklepi}}
                            {{#if @last}}
                                <p>Odprt: {{dateformat this.[datum] "dddd, mmmm dd yyyy, HH:MM"}}</p>
                            {{/if}}
                        {{/each}}
                    </td>
                </tr>
            </table>
        </a>
    </div>

    <br><br>
{{/each}}