<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="">
</head>
<body>
<nav>
    <ul style="list-style-type: none;">
        <li style="float: left"><a href="/paketnik/list">Paketniki</a></li>
        <li style="float: left"><a href="/paketnik/dodaj">Dodaj paketnik</a></li>

        <li style="float: left"><a href="/users/profile">Moj profil</a></li>
        <li style="float: left"><a href="/users/login">Prijava</a></li>
        <li style="float: left"><a href="/users/register">Registracija</a></li>
        <li style="float: left"><a type="button" href="/users/logout">Odjava </a></li>
    </ul>
    <br><br>
</nav>
{{{body}}}
</body>
</html>
