<h1>{{title}} - Dobrodošli</h1>
<nav>
    <ul><!--
        <li><a href="users/register">Registracija</a></li>
        <li><a href="users/login">Prijava</a></li>
        <li><a href="questions/">Vsa vprašanja</a></li>
        <li><a href="questions/dodaj">Dodaj vprašanje</a></li>
        <li><a href="questions/myList">Moja vprašanja</a></li>-->
    </ul>
</nav>