<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="">
</head>
<body>
<nav>
    <ul style="list-style-type: none;">

        <li style="float: left"><a href="http://localhost:3000/paketnik/list">Paketniki</a></li>
        <li style="float: left"><a href="http://localhost:3000/paketnik/dodaj">Dodaj paketnik</a></li>

        <li style="float: left"><a href="http://localhost:3000/users/profile">Moj profil</a></li>
        <li style="float: left"><a href="http://localhost:3000/users/login">Prijava</a></li>
        <li style="float: left"><a href="http://localhost:3000/users/register">Registracija</a></li>
    </ul>
    <br><br>
</nav>
{{{body}}}
</body>
</html>
