<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav style="margin-bottom: 35px;">
    <ul style="list-style-type: none;   ">


        <li style="float: left"><a style="text-decoration: none; color:black;"
                                   href="http://localhost:3000/paketnik/list">Paketniki</a></li>
        <li style="float: left"><a style="text-decoration: none; color:black;"
                                   href="http://localhost:3000/paketnik/dodaj">Dodaj paketnik</a></li>

        <li style="float: left"><a style="text-decoration: none; color:black;"
                                   href="http://localhost:3000/users/profile">Moj profil</a></li>
        <li style="float: left"><a style="text-decoration: none; color:black;" href="http://localhost:3000/users/login">Prijava</a>
        </li>
        <li style="float: left"><a style="text-decoration: none; color:black;"
                                   href="http://localhost:3000/users/register">Registracija</a></li>
        <li style="float: left"><a style="text-decoration: none; color:black;"
                                   href="http://localhost:3000/users/logout">Odjava</a></li>


        <!--
    <li style="float: left"><a style="text-decoration: none; color:black;"  href="https://silent-eye-350012.oa.r.appspot.com/paketnik/list">Paketniki</a></li>
      <li style="float: left"><a style="text-decoration: none; color:black;" a href="https://silent-eye-350012.oa.r.appspot.com/paketnik/dodaj">Dodaj paketnik</a></li>

     <li style="float: left"><a style="text-decoration: none; color:black;"  href="https://silent-eye-350012.oa.r.appspot.com/users/profile">Moj profil</a></li>
      <li style="float: left"><a style="text-decoration: none; color:black;" href="https://silent-eye-350012.oa.r.appspot.com/users/login">Prijava</a></li>
<li style="float: left"><a style="text-decoration: none; color:black;"  href="https://silent-eye-350012.oa.r.appspot.com/users/register">Registracija</a></li>
<li style="float: left"><a style="text-decoration: none; color:black;"  href="https://silent-eye-350012.oa.r.appspot.com/users/logout">Odjava</a></li>
         -->

    </ul>
</nav>
{{{body}}}
</body>
</html>
