<h1>Prijava</h1>
<form action="login" method="post">

    <p>Uporabniško ime:</p>
    <input type="text" name="username" placeholder="Uporabniško ime" required><br><br>

    <p>Geslo:</p>
    <input type="password" name="password" placeholder="Geslo" required><br><br><br><br>

    <input type="submit" value="Prijava">

</form>