<div><h1 style="font-size: 35px;">Registracija</h1>
    <form action="/users" method="post">

        <p>Uporabniško ime:</p>
        <input type="text" name="username" placeholder="Username" required=""><br><br>

        <p>Email:</p>
        <input type="text" name="email" placeholder="E-mail" required=""><br><br>

        <p>Geslo:</p>
        <input type="password" name="password" placeholder="Password" required=""><br><br><br>

        <input type="submit" value="REGISTRACIJA">
    </form>
</div>